<!DOCTYPE html>
<html>
<head>
    <title>Криптомонстр</title>
   <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="static/images/favicon.ico" />
</head>
<body background="/static/images/back.png">
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="static/images/coin.png" width="30" height="30"> </img>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"  href="/">Скупщик</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/wallet">Кошелек</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="/send">Перевести монетки <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/top">Рейтинг</a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container center-block">
    <h1>Отправь свои монетки</h1>
    <form method="POST" action="/send">
        <div class="container">
         <textarea placeholder="Ваш id" name="ids_from" cols="80" rows="1"></textarea>
            <textarea placeholder="кол-во монеток" name="count" cols="8" rows="1"></textarea>
        </div>
        <div class="container">

        <textarea placeholder="id получателя" name="ids_to" cols="80" rows="1"></textarea>
        </div>
        <div class="container">
         <button type="submit" class="btn btn-light">Отправить</button>
        </div>
        {% if res == 0 %}
            <p>{{tr["from"]}} перевел {{tr["to"]}} {{tr["count"]}} монет</p>
        {% endif %}

        {% if res%}
            <p>{{res}}</p>
        {% endif %}


    </form>

    </div>
</body>
</html>