<!DOCTYPE html>
<html>
<head>
   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>
    <a href="/">Скупщик</a>
    <a href="/wallet">Кошелек</a>
    <a href="/send">Отправить монетки</a>
    <a href="/top">Рейтинг</a>
    <h1 class="display-3">Рейтинг</h1>
    <form method="POST" action="/top">
         <ul>
                {% for user, money in res %}
                    <li>{{ user }} &mdash; {{ money }}</li>
                {% endfor %}
            </ul>
    </form>
</body>
</html>